@page
@model WebApplication2.Pages.About

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

<partial name="./Layout/Header.cshtml"/>

<div>
    About page
</div>

<partial name="./Layout/Footer.cshtml"/>


</body>
</html>