@page
@model WebApplication2.Pages.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["title"]</title>
</head>
<body>

<partial name="./Layout/Header.cshtml"/>

<main>
    <div>@ViewData["message"]</div>
    <div>@ViewData["LangHeader"]</div>

    <form method="post">
        <div>
            <label asp-for="Form.Name"></label>
            <input asp-for="Form.Name"/>
            <span asp-validation-for="Form.Name" class="text-danger"></span>
        </div>

        <div>
            <label>Email:</label>
            <input asp-for="Form.Email"/>
            <span asp-validation-for="Form.Email" class="text-danger"></span>
        </div>

        <div>
            <label>Сообщение:</label>
            <textarea asp-for="Form.Message"></textarea>
            <span asp-validation-for="Form.Message" class="text-danger"></span>
        </div>

        <div>
            <label>Возраст:</label>
            <input asp-for="Form.Age"/>
            <span asp-validation-for="Form.Age" class="text-danger"></span>
        </div>

        <input type="submit" value="Отправить"/>
    </form>
</main>
<partial name="Layout/Footer.cshtml"/>
</body>
</html>